body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 4.5fr 4.5fr;
    grid-template-areas:
    "header"
    "aside"
    "content";
    height: 100vh;
}

header {
    background-color: blue;
    grid-area: header;
    padding-left: 10px;
}
header h1 a{
    text-decoration: none;
    color: white;
}

aside {
    background-color: red;
    grid-area: aside;
}

#editor {
    grid-area: content;
    font-size: 24px;
    resize: none;
}

footer {
    grid-area: footer;
    background-color: grey;
}

@media(min-width: 500px) {
    .grid-container {
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "aside content"
        "footer footer";
    }
}